/* src/styles/variables.scss */
$siman-primary: #A83338;
$siman-secondary: #7A232E;
$siman-rojo-light: #EF3742;
$siman-backgroud: #F8EFDB;
$font-family-primary: 'Clan OT', sans-serif;
$font-family-secondary: 'Clan OT', sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-weight-normal: 400;
$font-weight-bold: 700;
