@import "../../styles/variables.scss";

.hero {
  width: 100%;
  max-width: 100%;
  background-color: $siman-backgroud;
}

.text-hero {
  text-align: center;
  color: $siman-primary;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03px;
  word-wrap: break-word;
}

.chips-container {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex;
}

.chips-hero {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #f6f6f6;
  border-radius: 50px;
  border: 1px $siman-primary solid;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.selected {
  background: $siman-primary;
}

.selected-text {
  color: white;
}

.filtros-container {
  width: 676px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.carousel {
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.copy-navidad {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  letter-spacing: 0.15;
  word-wrap: break-word;
  padding-top: 16px;
  padding-bottom: 16px;
}
